<div class="bg-gray-100 flex justify-end">
    <div class="fixed">
        <button class="bg-blue-50 border border-blue-400 rounded shadow-md m-2 p-1 px-2"><a href="{{ path('calendrier') }}" >Retour calendrier</a></button>
    </div>
</div>