{% extends 'base.html.twig' %}

{% block title %}Documentation
{% endblock %}

{% block body %}
	{% include "include/retour.html.twig" %}
	{% include "include/notif.html.twig" %}

	<div class="min-h-screen flex flex-col justify-center bg-gray-100">
		<div class="px-10 w-96 p-4 shadow-2xl mx-auto rounded-2xl bg-white">
			<div class="text-2xl m-3 font-extrabold text-center">
				<h1 class="">Documentation :</h1>
			</div>
			<div class="mt-5">
				<div class="container w-full mt-9 mb-5 flex justify-center">
					<a class="border border-green-400 bg-green-50 shadow-md rounded p-1.5 px-4 mr-3 hover:bg-green-400 transition duration-200" href="{{asset("docUtilisateur.pdf")}}">Documentation</a>
					<a class="border border-yellow-400 bg-yellow-50 shadow-md rounded p-1.5 px-4 mr-3 hover:bg-yellow-400 transition duration-200" href="{{asset("docAdmin.pdf")}}">Doc Admin</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
