{% extends 'base.html.twig' %}

{% block title %}Modifier
{% endblock %}

{% block body %}
	{% include "include/retour.html.twig" %}
	{% include "include/notif.html.twig" %}

	<div class="min-h-screen flex flex-col justify-center bg-gray-100">
		<div class="px-10 w-96 p-4 shadow-2xl mx-auto rounded-2xl bg-white">
			<div class="text-2xl m-3 font-extrabold text-center">
				<h1 class="">Demande d'Annulation:
				</h1>
			</div>
			<div class="container w-full mt-9 mb-5 flex justify-center">
				<form action="{{ path('annule_vacance',{'id':vacanceID.id}) }}" method="POST">
					<label for="username">Pourquoi cette demande ?</label>
					<input type="textarea" name="explication" id="explication" class="border border-blue-400 shadow-md rounded mt-2 w-full p-5" required>
					<button type="submit" class="border border-yellow-400 bg-yellow-50 shadow-md rounded p-1 w-full hover:bg-yellow-400 transition duration-200">Confirmation</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
